<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Coupon Distribution
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-pie-chart"></div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Coupon Usage
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="flot-chart">
                    <div class="flot-chart-content" id="flot-line-chart-multi"></div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <div class="col-lg-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-bar-chart-o fa-fw"></i> Bar Chart Example
        </div>
        <div class="table-responsive">
          <table class="table table-bordered table-hover table-striped">
              <thead>
                  <tr>
                      <th>Name</th>
                      <th># Redemed</th>
                      <th>Time</th>
                      <th>Amount</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>3326</td>
                      <td>10/21/2013</td>
                      <td>3:29 PM</td>
                      <td>$321.33</td>
                  </tr>
                  <tr>
                      <td>3325</td>
                      <td>10/21/2013</td>
                      <td>3:20 PM</td>
                      <td>$234.34</td>
                  </tr>
                  <tr>
                      <td>3324</td>
                      <td>10/21/2013</td>
                      <td>3:03 PM</td>
                      <td>$724.17</td>
                  </tr>
                  <tr>
                      <td>3323</td>
                      <td>10/21/2013</td>
                      <td>3:00 PM</td>
                      <td>$23.71</td>
                  </tr>
                  <tr>
                      <td>3322</td>
                      <td>10/21/2013</td>
                      <td>2:49 PM</td>
                      <td>$8345.23</td>
                  </tr>
                  <tr>
                      <td>3321</td>
                      <td>10/21/2013</td>
                      <td>2:23 PM</td>
                      <td>$245.12</td>
                  </tr>
                  <tr>
                      <td>3320</td>
                      <td>10/21/2013</td>
                      <td>2:15 PM</td>
                      <td>$5663.54</td>
                  </tr>
                  <tr>
                      <td>3319</td>
                      <td>10/21/2013</td>
                      <td>2:13 PM</td>
                      <td>$943.45</td>
                  </tr>
              </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
    </div>
    <div class="col-lg-4"></div>
    <!-- /.col-lg-4 (nested) -->
</div>
<!-- /#page-wrapper -->
