<%- include('header'); -%>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Business</a>
      </li>
      <li class="breadcrumb-item active">Support</li>
    </ol>

    <h2> Need Help?</h2>
    <h3> Contact Us At contact.spotmate@gmail.com </h3>

<%- include('footer'); -%>
