<%- include('header'); -%>

<!-- WELCOME-->
<section class="welcome p-t-10">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="title-4">Need Help?
                </h1>
                <hr class="line-seprate">
            </div>
        </div>
    </div>
</section>
<!-- END WELCOME-->

<!-- STATISTIC CHART-->
<section class="statistic-chart">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Contact us at <a href="contact.spotmate@gmail.com">contact.spotmate@gmail.com</a></h3>
            </div>
        </div>
    </div>
</section>
<!-- END STATISTIC CHART-->

<%- include('footer'); -%>
