<%- include('header'); -%>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Merchant</a>
      </li>
      <li class="breadcrumb-item active">Support</li>
    </ol>

    

<%- include('footer'); -%>
